.header .container-inner {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container-inner .header-buttons {
  display: flex;
  gap: 30px;
}
.header .container-inner .header-navigation {
  display: flex;
  gap: 30px;
}
.header .container-inner .header-navigation a {
  height: 100%;
  color: #4F5665;
  text-decoration: none;
  font-family: 'Rubik-regular', sans-serif;
  transition: color 0.2s ease-in-out;
}
.header .container-inner .header-navigation a:hover {
  color: #F53855;
}
.header .container-inner .burger {
  display: none;
}
@media (max-width: 950px) {
  .header .container-inner .header-navigation,
  .header .container-inner .header-buttons {
    display: none;
  }
  .header .container-inner .burger {
    display: block;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 50px;
}
.overlay .top-banner {
  position: relative;
}
.overlay .top-banner .closebtn {
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay .overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #4F5665;
  display: block;
  font-family: 'Rubik-Regular', sans-serif;
  transition: color 0.2s ease-in-out;
}
.overlay .overlay-content a:hover {
  color: #F53855;
}
